*.ttf
*.eld
ac-comphist.dat
auto-save-list/
bookmarks
elpa/
eshell/*
network-security.data
recentf
server/
site-lisp/
srecode-map.el
.org-id-locations
session.*
tramp
transient/
%backup%~
*.cache
elpy/
custom.el
quelpa/
projects
emacs_backtrace.txt
url/
chatgpt/
codeium/